[submodule "projeto/app_tarefa07_backend"]
	path = projeto/app_tarefa07_backend
	url = https://github.com/JoaoLuisBeato/app_tarefa07_backend.git
[submodule "projeto/app_tarefa07_frontend"]
	path = projeto/app_tarefa07_frontend
	url = https://github.com/JoaoLuisBeato/app_tarefa07_frontend.git
